---
import Section from "../global/Section.astro";

const { data } = Astro.props;
---

<div>
    <div class="sections-wrapper">
        {
            Array.isArray(data.content) &&
                data.content.map((blok: any) => {
                    return <Section data={blok} />;
                })
        }
    </div>
</div>
