---
import EdgeGradient from "../global/EdgeGradient.astro";
import Section from "../global/Section.astro";
import DatoLink from "../global/DatoLink.astro";
import Credits from "../global/Credits.astro";

const { data } = Astro.props;

const hasSubnavigation =
    data.subnavigation &&
    Array.isArray(data.subnavigation.blocks) &&
    data.subnavigation.blocks.length > 0;
---

<div class="px-gutter flex min-h-dvh items-center justify-center">
    <div
        class="fixed top-116 right-0 left-0 z-20 flex items-start justify-between gap-10 md:pointer-events-none md:inset-0 md:h-dvh md:w-screen md:items-end md:bg-transparent"
    >
        <div
            class="md:relative md:-top-[0.55em] md:flex md:h-1/2 md:w-6/24 md:flex-col md:justify-between md:pb-20 md:pl-[12.5%]"
        >
            {
                hasSubnavigation && (
                    <nav class="px-gutter scrollbar-hide text-nav flex items-baseline gap-17 overflow-x-auto scroll-smooth md:flex-col md:gap-28 md:px-0">
                        {hasSubnavigation &&
                            data.subnavigation.blocks.map((block: any) => (
                                <div class="flex shrink-0 items-baseline gap-17 md:flex-col md:gap-8">
                                    {Array.isArray(block.links) &&
                                        block.links.map((link: any) => (
                                            <div class="pointer-events-auto shrink-0">
                                                <DatoLink link={link} />
                                            </div>
                                        ))}
                                </div>
                            ))}
                    </nav>
                )
            }
            <div class="pointer-events-auto hidden md:mt-auto md:block">
                <Credits />
            </div>
        </div>
    </div>

    <div class="flex w-full flex-col gap-100 pt-212 pb-80 md:w-4/12 md:py-112">
        <div class="sections-wrapper">
            {
                Array.isArray(data.content) &&
                    data.content.map((blok: any) => {
                        return <Section data={blok} />;
                    })
            }
        </div>
        <div class="md:hidden">
            <Credits />
        </div>
    </div>
    <EdgeGradient />
</div>
