---
const { data } = Astro.props;
---

<section
    class="section-blockquote flex flex-col gap-15 md:-ml-[calc(1/20*100%)] md:w-22/20 lg:-ml-[calc(1/8*100%)] lg:w-10/8"
>
    <blockquote>
        <p
            class={`text-quote text-center text-pretty before:content-['“_'] after:content-['”']`}
            >{data.text}</p
        >
    </blockquote>
    {data.credits && <p class="text-credits text-[1.4rem] text-center whitespace-pre-line leading-[1.2]">{data.credits}</p>}
</section>
