---
const { data } = Astro.props;
---

<section
    class="section-blockquote md:-ml-[calc(1/20*100%)] md:w-22/20 lg:-ml-[calc(1/8*100%)] lg:w-10/8"
>
    <blockquote>
        <p
            class={`text-quote text-center text-pretty before:content-['“_'] after:content-['”']`}
            >{data.text}</p
        >
    </blockquote>
</section>
