---
const { data } = Astro.props;
---

<section class="section-blockquote md:-ml-[12.5%] md:w-10/8">
    <blockquote>
        <p
            class={`text-quote text-center text-pretty before:content-['“_'] after:content-['”']`}
            >{data.text}</p
        >
    </blockquote>
</section>
