---
import { getAllPagesAndLayout, pagesSlugToModelApiKeyMap } from "../cms/dato";
import isPreview from "../utils/isPreview";

import Layout from "../layouts/Layout.astro";
import DirectorsGridPage from "../components/pages/DirectorsGridPage.astro";

const allData = await getAllPagesAndLayout();

const directorsPage = Object.values(allData.pages).find(
    (p: any) => p._modelApiKey === "directors_page",
) as any;

const slugToModelApiKeyMap = pagesSlugToModelApiKeyMap(allData.pages);
---

<Layout
    layout={allData.layout}
    slugToModelApiKeyMap={slugToModelApiKeyMap}
    template="directors_grid"
    seoMetaTags={directorsPage?._seoMetaTags}
>
    <div id="page" class="page min-h-dvh" data-template="directors_grid">
        <DirectorsGridPage data={directorsPage} />
    </div>
</Layout>

<script is:inline>
    if (window.matchMedia("(max-width: 1023px)").matches) {
        window.location.replace("/");
    }
</script>
