---
const { leftAlignedTitle, rightAlignedTitle } = Astro.props;
---

<h1 class="text-subtitle flex flex-col gap-9 uppercase lg:gap-7">
    <span class="text-left">{leftAlignedTitle}</span>
    <span class="text-right">{rightAlignedTitle}</span>
</h1>
