---
import "../styles/global.css";
import "lenis/dist/lenis.css";

import { ClientRouter } from "astro:transitions";

import Navigation from "../components/global/Navigation.astro";
import Loader from "../components/global/Loader.astro";
import Grid from "../components/global/Grid.astro";
import Seo from "../components/global/Seo.astro";

import isPreview from "../utils/isPreview";

const { layout, template, seoMetaTags, slugToModelApiKeyMap } = Astro.props;
---

<!doctype html>
<html transition:name="root" transition:animate="none" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/fonts/TWKLausanne-500.woff2"
            crossorigin
        />
        {seoMetaTags && <Seo data={seoMetaTags} />}
        <ClientRouter />
    </head>
    <body>
        {layout?.navigation && <Navigation template={template} data={layout.navigation} />}
        <slot />
        <Loader />
        {isPreview() && <Grid />}
        <div
            id="data"
            class="pointer-events-none hidden"
            aria-hidden="true"
            data-data={JSON.stringify({ slugToModelApiKeyMap })}></div>
    </body></html
>

<script>
    import Zauberberg from "../scripts/Zauberberg";

    const app = new Zauberberg();
    app.init();
</script>
