---
import "../styles/global.css";

import Navigation from "../components/global/Navigation.astro";

const { layout } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Astro Basics</title>
    </head>
    <body>
        {layout?.navigation && <Navigation data={layout.navigation} />}
        <slot />
    </body>
</html>
