<div class="text-credits flex flex-col gap-6 opacity-30">
    <p>© {new Date().getFullYear()} Zauberberg Productions.</p>
    <p
        >Website by <a
            href="https://www.antinomy.studio/"
            target="_blank"
            rel="noopener noreferrer"
            class="underline underline-offset-3">Antinomy</a
        ></p
    >
    <p
        >Tech partner <a
            href="https://100k.studio/"
            target="_blank"
            rel="noopener noreferrer"
            class="underline underline-offset-3">100k</a
        ></p
    >
</div>
