---
const {
    link,
    class: className = "",
    currentClass = "",
    showExternalIcon = false,
} = Astro.props;

const { label, externalLink, internalLink } = link;

let linkUrl = "#";

if (externalLink) {
    linkUrl = externalLink;
} else if (internalLink) {
    const interlinkUrl = internalLink.slug ? `/${internalLink.slug}` : "/";
    if (interlinkUrl) linkUrl = interlinkUrl;
}

const isCurrent = internalLink && linkUrl === Astro.url.pathname;

const target = link.externalLink ? "_blank" : "_self";
const isExternal = !!externalLink;
---

<a
    href={linkUrl}
    class:list={[className, "underline", { [currentClass]: isCurrent }]}
    target={target}
>
    {label}{showExternalIcon && isExternal && " ↗"}
</a>
