<div
    id="loader"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black data-[finished=true]:hidden"
    style="clip-path: inset(0,0,0,0);"
>
    <svg
        class="w-7/24 max-w-345"
        viewBox="0 0 345 301"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#loader-logo-e)">
            <path
                d="M212.284 159.124L226.995 158.57L263.548 159.124C263.701 159.118 263.847 159.059 263.961 158.957C264.076 158.854 264.151 158.715 264.174 158.564L265.544 144.835C265.56 144.749 265.555 144.66 265.53 144.576C265.505 144.493 265.46 144.416 265.399 144.353C265.342 144.283 265.27 144.226 265.188 144.187C265.105 144.148 265.016 144.128 264.925 144.129H263.969C263.853 144.125 263.737 144.155 263.638 144.216C263.538 144.277 263.459 144.366 263.409 144.472C261.433 148.427 260.702 149.883 243.605 150.45L227.615 150.977V93.721L247.182 94.3801C255.852 94.6438 258.323 95.7906 258.672 99.7189C258.694 99.8707 258.767 100.01 258.88 100.114C258.993 100.217 259.139 100.278 259.292 100.286H260.247C260.338 100.285 260.427 100.265 260.51 100.227C260.593 100.19 260.667 100.136 260.728 100.068C260.82 99.939 260.87 99.7851 260.873 99.6266L260.319 90.353L260.866 81.5803C260.883 81.4897 260.876 81.3964 260.847 81.309C260.819 81.2215 260.768 81.1426 260.702 81.0794C260.579 80.9616 260.417 80.8955 260.247 80.8948H259.443C259.296 80.9007 259.155 80.9559 259.042 81.0515C258.93 81.1471 258.853 81.2776 258.824 81.4221C258.218 85.2911 256.663 85.5745 247.209 85.5745H227.615V29.4122L247.031 30.0713C255.22 30.3349 260.247 30.8358 261.005 35.6078C261.035 35.7511 261.113 35.8801 261.225 35.9744C261.337 36.0687 261.477 36.1229 261.624 36.1285H262.441C262.604 36.1205 262.759 36.0519 262.875 35.9362C262.99 35.8204 263.059 35.6658 263.067 35.5023V21.8852C263.065 21.7215 262.999 21.5651 262.882 21.4502C262.763 21.3355 262.606 21.2696 262.441 21.2656L227.015 21.8193L212.27 21.2656C212.119 21.2649 211.973 21.3214 211.862 21.4238C211.794 21.4797 211.74 21.5503 211.703 21.6302C211.667 21.7101 211.649 21.7973 211.651 21.8852V22.5772C211.658 22.7284 211.717 22.8724 211.818 22.9853C211.919 23.0981 212.055 23.1728 212.205 23.1968C217.614 23.8559 218.134 27.6128 218.134 51.5845V141.684C218.134 152.698 217.627 156.534 212.205 157.16C212.054 157.183 211.916 157.257 211.814 157.37C211.712 157.482 211.652 157.627 211.645 157.779V158.439C211.649 158.604 211.714 158.761 211.829 158.88C211.883 158.951 211.951 159.01 212.03 159.052C212.108 159.094 212.195 159.118 212.284 159.124Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-z)">
            <path
                d="M148.759 175.714C146.92 173.235 145.393 170.539 144.213 167.686L85.7674 30.5922L85.55 30.0781L46.336 121.087L15.509 121.575L14.9622 120.698L45.7496 59.3292H0.520482V73.1374H1.62733L1.68004 72.9727C2.04015 71.5748 2.88851 70.352 4.07161 69.5256C6.37095 67.8976 9.47408 67.5021 19.8837 67.5021H29.9441L30.4844 68.3853L0.177889 128.298L0 128.647H22.664L43.0879 128.726L26.4325 167.403C25.2652 170.23 23.761 172.905 21.9524 175.371L21.6362 175.786L28.7385 175.417L38.8648 175.912L38.7067 175.556C38.0926 174.096 37.7876 172.525 37.8107 170.942C37.8107 166.987 38.6671 162.466 42.943 152.138L53.1681 128.278H115.692L125.7 151.136C129.653 160.093 132.07 166.585 132.07 171.245C132.09 172.83 131.778 174.402 131.155 175.859L131.398 176.004V176.182L140.477 175.688L149.042 176.109L148.759 175.714ZM112.404 120.797H56.2647L84.3048 52.0988L112.404 120.797Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>

        <g clip-path="url(#loader-logo-e2)">
            <path
                d="M135.747 255.693H135.088C134.901 255.691 134.717 255.742 134.557 255.84C134.397 255.938 134.269 256.079 134.185 256.247C132.868 258.883 131.504 259.727 120.172 260.103L110.474 260.459L109.598 249.504V228.017L123.341 228.472C129.87 228.69 130.634 229.619 130.819 231.689C130.843 231.937 130.96 232.167 131.145 232.334C131.33 232.501 131.571 232.593 131.82 232.592H132.479C132.615 232.59 132.749 232.561 132.873 232.507C132.998 232.453 133.11 232.374 133.204 232.275C133.299 232.174 133.372 232.055 133.42 231.925C133.467 231.794 133.488 231.656 133.48 231.517L133.098 225.111L133.48 218.948C133.481 218.68 133.386 218.42 133.21 218.217C133.118 218.114 133.006 218.031 132.88 217.974C132.754 217.917 132.617 217.888 132.479 217.887H131.906C131.664 217.883 131.429 217.967 131.245 218.123C131.061 218.28 130.94 218.498 130.904 218.737C130.575 220.879 130.134 221.15 123.354 221.15H109.584V194.509L123.229 194.957C128.671 195.148 132.005 195.464 132.453 198.351C132.493 198.587 132.616 198.802 132.799 198.956C132.982 199.111 133.214 199.195 133.454 199.195H134.027C134.293 199.195 134.548 199.089 134.735 198.901C134.923 198.713 135.029 198.459 135.029 198.193V188.682C135.029 188.553 135.004 188.425 134.954 188.307C134.904 188.188 134.831 188.08 134.739 187.99C134.649 187.889 134.539 187.808 134.414 187.755C134.29 187.701 134.156 187.676 134.021 187.68L108.629 188.062L96.9743 187.68C96.842 187.678 96.7106 187.702 96.5879 187.751C96.4652 187.8 96.3537 187.874 96.2602 187.968C96.1666 188.061 96.093 188.173 96.0436 188.296C95.9942 188.418 95.9702 188.55 95.9729 188.682V189.157C95.9678 189.403 96.0547 189.643 96.2167 189.83C96.3786 190.016 96.604 190.136 96.8491 190.165C99.8798 190.528 100.473 191.885 100.473 206.728V251.89C100.473 262.647 99.9654 264.466 96.8425 264.822C96.6026 264.859 96.3837 264.98 96.2245 265.164C96.0654 265.347 95.9762 265.581 95.9729 265.824V266.305C95.9702 266.443 95.9963 266.58 96.0497 266.707C96.103 266.834 96.1823 266.948 96.2825 267.043C96.465 267.205 96.6974 267.301 96.9414 267.313L102.212 267.135L108.57 266.931L134.772 267.313C135.024 267.318 135.268 267.226 135.455 267.057C135.642 266.888 135.758 266.655 135.78 266.404L136.735 256.794C136.748 256.654 136.731 256.513 136.687 256.38C136.642 256.246 136.569 256.124 136.475 256.02C136.38 255.917 136.264 255.834 136.135 255.778C136.007 255.721 135.868 255.693 135.727 255.693H135.747Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-r2)">
            <path
                d="M207.251 279.159L182.874 248.531C181.832 247.082 181.384 245.29 181.622 243.522C181.645 243.412 181.703 243.313 181.785 243.237C181.868 243.162 181.972 243.114 182.083 243.1C193.408 241.729 210.261 233.417 210.261 216.123C210.261 190.655 184.659 187.906 173.656 187.906C172.51 187.906 171.298 187.939 169.848 188.005L157.614 188.664L141.769 188.005L141.657 188.467C146.222 190.602 146.651 197.437 146.651 214.976V269.457C146.651 288.044 145.959 294.174 141.617 296.296L141.736 296.757L151.921 296.217L162.041 296.718L162.16 296.257C157.818 294.134 157.12 288.005 157.12 269.418V196.033C157.121 195.895 157.177 195.764 157.274 195.667C157.371 195.569 157.503 195.514 157.64 195.512H169.842C188.915 195.512 198.995 202.637 198.995 216.123C198.995 230.57 188.092 239.191 169.842 239.191H164.281L194.113 279.673C204.233 293.64 207.666 296.902 218.207 296.902H224.723L224.137 296.467C218.727 292.486 213.206 286.825 207.251 279.159Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-b)">
            <path
                d="M155.767 174.99C155.616 175.013 155.477 175.088 155.375 175.202C155.273 175.317 155.213 175.463 155.207 175.616V176.13C155.207 176.211 155.224 176.292 155.256 176.367C155.287 176.441 155.334 176.509 155.392 176.565C155.512 176.681 155.673 176.747 155.84 176.75L167.864 176.335L177.12 176.75C177.852 176.789 178.583 176.789 179.288 176.789C195.383 176.789 204.614 169.381 204.614 156.463C204.614 148.204 198.256 141.725 187.978 139.418C194.632 137.349 201.273 130.995 201.273 123.481C201.273 111.947 193.69 106.094 178.734 106.094H177.95H177.147L167.923 106.305L155.833 105.883C155.757 105.882 155.68 105.895 155.609 105.924C155.538 105.952 155.473 105.994 155.418 106.048C155.35 106.103 155.295 106.173 155.258 106.253C155.222 106.334 155.204 106.421 155.207 106.509V107.05C155.207 107.203 155.263 107.351 155.365 107.466C155.467 107.58 155.608 107.653 155.761 107.669C159.714 108.144 160.096 111.004 160.096 124.147V158.578C160.096 171.675 159.72 174.535 155.767 174.99ZM195.06 156.482C195.06 166.567 190.211 170.324 177.173 170.324H169.135L168.522 156.482V143.05H177.153C188.037 143.142 195.06 148.408 195.06 156.482ZM177.166 136.38L168.536 136.472V112.672H177.173C187.747 112.672 192.254 115.901 192.254 123.481C192.241 134.956 181.699 136.32 177.166 136.38Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-g)">
            <path
                d="M315.193 250.736L307.603 250.34H307.03L307.438 250.743C310.416 253.689 310.983 259.311 310.983 268.604V286.11C310.983 286.38 310.911 286.645 310.772 286.877C310.634 287.109 310.436 287.3 310.199 287.428C303.413 291.165 295.131 294.626 280.551 294.626C250.726 294.626 228.233 270.061 228.233 237.488C228.233 200.881 246.812 180.726 280.551 180.726C290.513 180.726 307.939 184.357 315.107 194.356L315.502 194.903V178.188L315.344 178.142C305.159 175.282 293.128 173.766 280.551 173.766C249.316 173.766 217.797 193.466 217.797 237.481C217.797 275.472 242.424 300.999 279.069 300.999H279.286C292.127 300.999 303.07 298.145 312.722 292.372C312.996 292.212 313.313 292.141 313.628 292.171C313.944 292.2 314.242 292.328 314.481 292.536L320.463 297.75V266.95C320.463 258.059 320.76 253.359 322.44 250.663L322.664 250.301H322.242L315.193 250.736Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-b2)">
            <path
                d="M62.6169 239.228C73.0397 236.137 84.2268 224.728 84.2268 212.514C84.2268 194.06 72.4534 185.142 48.2345 185.142C47.4307 185.142 46.627 185.142 45.8232 185.142L30.0506 185.491L13.9025 184.938L13.7773 185.386C18.5539 188.134 18.7713 196.459 18.7713 213.516V271.181C18.7713 288.239 18.5539 296.563 13.7773 299.325L13.9025 299.78L30.1099 299.226L45.6058 299.885C46.6731 299.938 47.8326 299.965 49.1503 299.965H49.1898C75.0097 299.965 89.8203 288.199 89.8203 267.668C89.8203 254.078 78.9231 242.721 62.6169 239.228ZM77.2892 267.741C77.2892 285.675 68.4015 292.662 45.5794 292.662H30.4262L29.3522 267.734V243.486H45.5794C64.8504 243.69 77.2892 253.208 77.2892 267.741ZM29.372 236.064V192.629H45.5596C58.1368 192.629 72.572 194.89 72.572 212.514C72.572 226.916 62.4786 235.649 45.5596 235.873L29.372 236.064Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-u)">
            <path
                d="M112.648 29.8047V45.9001C112.648 79.8506 128.763 98.5494 158.016 98.5559C187.268 98.5559 203.383 79.8506 203.383 45.9001V29.8047C203.383 10.0316 203.62 3.07802 208.206 0.454784L208.074 0L197.888 0.533893L188.059 0.0197723L187.92 0.467979C192.605 3.25599 192.802 11.475 192.802 29.8047V46.0912C192.802 59.4908 189.416 90.6665 158.002 90.6665C126.589 90.6665 123.196 59.4908 123.196 46.0912V29.8047C123.196 11.475 123.394 3.25599 128.078 0.467979L127.946 0.0197723L118.064 0.533893L107.964 0L107.832 0.454784C112.418 3.09779 112.648 10.0579 112.648 29.8047Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <g clip-path="url(#loader-logo-r)">
            <path
                d="M344.875 157.907C340.171 154.611 335.329 149.727 330.078 142.972L308.198 114.782L308.738 113.918C318.436 112.725 332.752 105.594 332.752 90.7375C332.752 83.9421 330.578 78.432 326.296 74.3587C318.271 66.7395 305.292 66.2122 298.276 66.5681L288.123 67.1218L271.797 66.4297V67.5831H272.014C277.713 68.2422 278.253 72.098 278.253 89.7554V135.234C278.253 153.115 277.713 156.984 272.014 157.683H271.797V158.843L283.287 158.276L294.803 158.843V157.683H294.593C288.894 157.024 288.353 153.115 288.353 135.234V74.1939H298.315C314.022 74.1939 321.987 79.7634 321.987 90.7375C321.987 102.377 313.139 109.324 298.315 109.324H292.333L318.027 144.211C326.592 155.995 329.531 158.836 338.451 158.882H344.987V157.96L344.875 157.907Z"
                fill="white"
                class="loader-path translate-y-full"></path>
        </g>
        <defs>
            <clipPath id="loader-logo-z">
                <rect width="149.042" height="146.104" fill="white" transform="translate(0 30.0781)"
                ></rect>
            </clipPath>
            <clipPath id="loader-logo-u">
                <rect width="100.374" height="98.5559" fill="white" transform="translate(107.832)"
                ></rect>
            </clipPath>
            <clipPath id="loader-logo-b">
                <rect
                    width="49.4065"
                    height="70.9066"
                    fill="white"
                    transform="translate(155.207 105.883)"></rect>
            </clipPath>
            <clipPath id="loader-logo-e">
                <rect
                    width="53.9087"
                    height="137.858"
                    fill="white"
                    transform="translate(211.645 21.2656)"></rect>
            </clipPath>
            <clipPath id="loader-logo-r">
                <rect
                    width="73.1902"
                    height="92.4527"
                    fill="white"
                    transform="translate(271.797 66.4297)"></rect>
            </clipPath>
            <clipPath id="loader-logo-b2">
                <rect
                    width="76.043"
                    height="115.027"
                    fill="white"
                    transform="translate(13.7773 184.938)"></rect>
            </clipPath>
            <clipPath id="loader-logo-e2">
                <rect
                    width="40.7667"
                    height="79.6337"
                    fill="white"
                    transform="translate(95.9727 187.68)"></rect>
            </clipPath>
            <clipPath id="loader-logo-r2">
                <rect
                    width="83.1057"
                    height="108.996"
                    fill="white"
                    transform="translate(141.617 187.906)"></rect>
            </clipPath>
            <clipPath id="loader-logo-g">
                <rect
                    width="104.867"
                    height="127.234"
                    fill="white"
                    transform="translate(217.797 173.766)"></rect>
            </clipPath>
        </defs>
    </svg>
</div>
