---
import DatoLink from "./DatoLink.astro";
import Logo from "./Logo.astro";

const { data, template } = Astro.props;

const TEMPLATES_WITH_HIDDEN_NAVIGATION = ["video", "news_single"];

const initialHide = TEMPLATES_WITH_HIDDEN_NAVIGATION.includes(template);
---

<div
    id="navigation"
    transition:persist
    data-hide-items={initialHide}
    data-hide-on={TEMPLATES_WITH_HIDDEN_NAVIGATION.join(",")}
    class="px-gutter pointer-events-none fixed inset-0 z-10 flex h-dvh w-screen items-center justify-center pt-20 pb-30 lg:py-0"
>
    <header class="flex h-full w-full flex-col items-center justify-between lg:h-auto lg:flex-row">
        <a href="/" class="pointer-events-auto w-80 lg:h-auto lg:w-2/24">
            <Logo class="w-full" />
        </a>
        <div class="flex items-center gap-10 overflow-hidden">
            {
                data.links.map((link: any) => (
                    <DatoLink
                        style={{ transform: initialHide ? "translateY(-100%)" : "translateY(0)" }}
                        class="text-nav-mobile navigation-item xl:text-nav-desktop pointer-events-auto block opacity-30 transition-opacity duration-150 hover:opacity-100 [&.link-current]:opacity-100"
                        link={link}
                    />
                ))
            }
        </div>
    </header>
</div>
